<h2>Imagenes vieja</h2>
<form action="/api/archivo" method="POST" enctype="multipart/form-data">
    <label for="file">Archivo: </label>
    <input type="file" name="file" id="file">
    <input type="submit" value="Aceptar">
</form>