<h2>Imagenes vieja</h2>
<form id="archivo" action="/api/archivos" method="POST" enctype="multipart/form-data">
    <label for="file">Archivo: </label>
    <input type="file" name="file" id="file">
    <input type="text" name="description" placeholder="Descripcion">
    <input type="text" name="keywords" placeholder="Palabras clave">
    <input type="submit" value="Aceptar">
</form>
<div class="items">
    {{#if images}}
        {{#each images}}
            <div class="imagen">
                <img src="/api/imagenes/{{fileId}}" alt="{{description}}">
            </div>
        {{/each}}
    {{/if}}
</div>