<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><h1>ADAM</h1></nav>
    <div class="navigation">
      <ul>
        <li><a href="/contenido">Contenido</a></li>
        <li><a href="/registro">Registrar Usuario</a></li>
        <li><a href="/configuracion">Configuracion</a></li>
        <li><a href="/logout">Cerrar sesion</a></li>
      </ul>
    </div>
    {{{body}}}
  </body>
</html>
