<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='./stylesheets/login.css' />
</head>
<body>
  <div class="background"></div>
  <div class="container">
    <img src="./images/login_logo.svg" alt="Logo de la aplicacion">
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="Correo">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="submit" value="Aceptar">
    </form>
  </div>
</body>
</html>