* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body,
html {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/login_fondo.png);
    background-position: center bottom;
    background-size: cover;
}

h1 {
    text-align: center;
    padding: .3em;
}

div.background {
    top: 0;
    left: -40%;
    position: absolute;
    width: 180%;
    height: 90%;
    background: linear-gradient(180deg, rgba(3, 227, 200, 0.8) 0%, rgba(255, 255, 255, 0) 86.2%), #2444B4;
    border-bottom-right-radius: 200%;
    border-bottom-left-radius: 200%;
}

div.container {
    z-index: 10;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

form input {
    padding: .5em;
    font-size: 1em;
    margin: .1em 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F6F6F6;
    border: 1px solid #000000;
    border-radius: 91px;
    margin-bottom: .5em;
}

form input[type="submit"] {
    width: 50%;
    margin: .5em auto;
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}