* {
    margin: 0;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center; 
    padding: .3em;
}

div.container {
    padding: 2em;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 15em;
}

form input {
    padding: .5em;
    font-size: 1em;
    margin: .1em 0;
}