body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

ul li a {
  color: #212121;
  padding: 1em;
}

ul li a.activo {
  background-color: #0399e5;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

nav {
  background-color: #212121;
  color: aliceblue;
  padding: .1em 1em;
  font-size: 1.4em;
  flex: 0 1 auto; /* flex-grow: 0; flex-shrink: 1; flex-basis: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: aliceblue;
  font-size: 0.8em;
}

body > div {
  flex: 1 1 auto; /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
  display: flex;
}

div.navigation {
  width: 15%;
  background-color: #03a9f4;
}

div.contenido {
  width: 85%;
  padding: 1em 2em;
}

div.upload {
  border: 3px solid black;
  padding: 1em;
}

div.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.items > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  padding: 1em;
  background-color: #0399e5;
  cursor: pointer;
  margin-top: 2em;
  margin-bottom: 1em;
}

img {
  width: 100%;
}

video {
  width: 100%;
}
